@font-face {
	font-family: 'OpenSans-Regular';
	src:	url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
			url('fonts/OpenSans-Regular.woff') format('woff'),
			url('fonts/OpenSans-Regular.ttf') format('truetype'),
			url('fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Regular';
	src:	url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
			url('fonts/Montserrat-Regular.woff') format('woff'),
			url('fonts/Montserrat-Regular.ttf') format('truetype'),
			url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Medium';
	src:	url('fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
			url('fonts/Montserrat-Medium.woff') format('woff'),
			url('fonts/Montserrat-Medium.ttf') format('truetype'),
			url('fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src:	url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
			url('fonts/Montserrat-Bold.woff') format('woff'),
			url('fonts/Montserrat-Bold.ttf') format('truetype'),
			url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* GENERAL */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
body {
	font-family: 'OpenSans-Regular';
	min-height: 100%;
    color: #000000;
    background: #f4f4f4;
	margin: 0;
	padding: 0;
    height: 100%;
    font-size: 12px;
}
input, textarea, button, select {
	font-family: 'OpenSans-Regular';
	color: #000000;
	outline: none;
}
input, select {
	padding: 0 15px;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
p {
	margin: 0;
	padding-bottom: 15px;
}
.clear{
	clear: both;
}
/* END OF GENERAL */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
}
.modal .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.19);
}
.modal .modal-content {
    width: 80%;
	border: 0;
	padding: 20px 25px 25px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
    overflow-y: auto;
    background: #ffffff;
    border-radius: 30px;
}
.modal .modal-content .close {
    position: absolute;
    right: 25px;
    top: 23px;
    width: 9px;
    height: 9px;
    background: url('../images/close.png') no-repeat center center;
}

.modal .modal-disable {
	display: none;
	position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.19);
}

.modal iframe{
	border: none;
}	

.modal .close-iframe {
    position: absolute;
    right: 25px;
    top: 23px;
    width: 30px;
    height: 30px;
    background: url('../images/close.png') no-repeat center center;
	background-color: #ffffff;
}
.modal .modal-content .modal-title {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
}
.modal .modal-content .modal-subtitle {
    color: #8E8E8E;
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 4px;
}

.modal .button-popup {
	width: 100%;
    height: 38px;
    background: #B45FD3;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Montserrat-Medium';
    line-height: 38px;
    border-radius: 29px;
    box-shadow: 0px 3px 6px rgba(4, 128, 65, 0.27);
    text-transform: uppercase;
    margin-top: 20px;
}


.screen {
    display: none;
    padding-bottom: 55px;
}
.home .screen.home-screen{
    display: block;
}

.about .screen.about-screen {
    display: block;
}
.control-panel .screen.control-panel-screen {
    display: block;
}
.login .screen.login-screen, .new-password .screen.new-password-screen {
    display: block;
}

.screen .screen-content {
    width: 80%;
    margin: auto;
    position: relative;
}


.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 29px;
    background: #B45FD3;
    z-index: 2;
}

.login .header {
    position: absolute;
}

.header .back {
    float: left;
    width: 28px;
    height: 23px;
    margin-left: 35px;
    margin-top: 1px;
}
.header .back img {
    width: 100%;
}
.login .header .back {
    display: none;
}

.header .back img, .header .logo1 img, .header .logo2 img {
    width: 100%;
}

.header h1 {
    display: none;
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    padding: 0;
    margin: 4vh 0 0 35px;
    color: #ffffff;
}
.header h1 img {
    max-height: 16px;
    float: left;
    margin-right: 8px;
}

.about .header h1.about-title {
    display: block;
}
.about .header h1.about-title img {
    margin-top: 2px;
}

.about  .screen.about-screen .screen-content{ 
    margin-top: 25px;
}

.control-panel .header h1.control-panel-title {
    display: block;
}
.control-panel .header h1.control-panel-title img {
    margin-top: 1px;
}

.activity-screen .header h1.activity-title {
    display: block;
}
.activity-screen .header h1.activity-title img {
    margin-top: 1px;
}


.home .top, .login .top, .new-password .top {
    width: 100%;
    margin-bottom: 15px;
}
.home .top img, .login .top img, .new-password .top img {
    width: 100%;
}
.home .button {
    height: 58px;
    width: 80%;
    border-radius: 29px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
    margin: 0 auto 25px;
    position: relative;
    background: #ffffff;
    padding: 12px 20px;
}

.home .button .title {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    line-height: 17px;
}
.home .button .title img {
    margin-right: 8px;
    margin-top: 1px;
    float: left;
}
.home .button .subtitle {
    line-height: 24px;
}


.login .form, .new-password .form {
    background: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 32px 0 38px;
    border-radius: 25px 25px 0 0;
    overflow-y: auto;
}
.login .form .screen-content, .new-password .form .screen-content {
    width: 80%;
    margin: auto;
    position: relative;
}
.login .form .screen-content .title, .new-password .form .screen-content .title {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    margin-bottom: 5px;
}
.login .form .screen-content .label-input, .new-password .form .screen-content .label-input, .ridicare-deee .screen-content .label-input, .activity-screen .screen-content .label-input {
    margin-top: 15px;
}
.login .form .screen-content .label-input .label, .new-password .form .screen-content .label-input .label{
    color: #D3D3D3;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.activity-screen .screen-content .label-input .label {
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.login .form .screen-content .label-input input, .new-password .form .screen-content .label-input input, .ridicare-deee .screen-content .label-input input, .activity-screen .screen-content .label-input input {
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
}

.activity-screen .screen-content .label-input textarea {
	width: 100%;
    border-bottom: 1px solid #EBEBEB;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
}


.login .form .screen-content .label-input .checkbox .checkbox-container, .ridicare-deee .screen-content .label-input .checkbox .checkbox-container, .activity-screen .screen-content .label-input .checkbox .checkbox-container {
    float: left;
    width: 16px;
    height: 16px;
    border: 2px solid #792e94;
    border-radius: 8px;
    margin-right: 8px;
    margin-top: 1px;
    position: relative;
}
.login .form .screen-content .label-input .checkbox .checkbox-container .checkbox-check, .ridicare-deee .screen-content .label-input .checkbox .checkbox-container .checkbox-check, .activity-screen .screen-content .label-input .checkbox .checkbox-container .checkbox-check {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #792e94;
    border-radius: 4px;
    display: none;
}
.screen-content .label-input .checkbox.checked .checkbox-container .checkbox-check {
    display: block !important;
}
.login .form .screen-content .button, .new-password .form .screen-content .button, .ridicare-deee .screen-content .button, .activity-screen .screen-content .button
 {
    width: 100%;
    height: 58px;
    background: #B45FD3;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat-Medium';
    line-height: 58px;
    border-radius: 29px;
    box-shadow: 0px 3px 6px rgba(4, 128, 65, 0.27);
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.premii-mecanism .screen-content .title {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    padding: 30px 0 15px;
    position: relative;
}
.premii-mecanism .screen-content .title.calculare-punctaj {
    margin-bottom: 5px;
}
.premii-mecanism .screen-content .subtitle {
    color: #A1A1A1;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.premii-mecanism .screen-content .premiu {
    width: 100%;
    background: #ffffff;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 18px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
}
.premii-mecanism .screen-content .premiu .premiu-image {
    float: left;
    margin-right: 10px;
}
.premii-mecanism .screen-content .premiu .premiu-image img {
    display: block;
}
.premii-mecanism .screen-content .premiu .premiu-details .suma {
    font-family: 'Montserrat-Bold';
    font-size: 17px;
}
.premii-mecanism .screen-content .premiu .premiu-details .suma span {
    font-family: 'Montserrat-Regular';
}
.premii-mecanism .screen-content .premiu .premiu-details .locul {
    font-size: 9px;
    color: #8E8E8E;
    text-transform: uppercase;
    margin-top: 2px;
}
.premii-mecanism .screen-content .activitati {
    width: 100%;
    margin-top: 15px;
}
.premii-mecanism .screen-content .activitati .activitati1 {
    float: left;
    width: 49%;
}
.premii-mecanism .screen-content .activitati .activitati2 {
    float: right;
    width: 49%;
}
.premii-mecanism .screen-content .activitati img {
    max-width: 100%;
    display: block;
}
.activitati2 .screen-content .acordare-punctaj {
    width: 100%;
}
.activitati2 .screen-content .acordare-punctaj ul li {
    padding-left: 20px;
    background: url('../images/bullet.png') no-repeat left 2px;
    margin-bottom: 10px;
}
.premii-mecanism .screen-content .punctaj {
    width: 100%;
    background: #ffffff;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
}
.premii-mecanism .screen-content .punctaj .punctaj-image {
    float: left;
    margin-right: 10px;
}
.premii-mecanism .screen-content .punctaj .punctaj-image img {
    display: block;
}
.premii-mecanism .screen-content .punctaj .punctaj-details .puncte {
    font-family: 'Montserrat-Bold';
    font-size: 17px;
}
.premii-mecanism .screen-content .activity {
    width: 100%;
    background: #ffffff;
    border-radius: 30px;
    padding: 13px 22px;
    margin-bottom: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
}
.premii-mecanism .screen-content .activity .activity-image {
    float: left;
    margin-right: 15px;
    width: 34px;
    text-align: center;
}
.premii-mecanism .screen-content .activity .activity-image img {
    display: inline-block;
}
.premii-mecanism .screen-content .activity .activity-details {
    width: calc(100% - 49px);
    float: left;
}
.premii-mecanism .screen-content .activity .activity-details .task {
    font-family: 'Montserrat-Bold';
    font-size: 17px;
}


.activitati1 .screen-content .title, .activitati2 .screen-content .title {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    padding: 30px 0 15px;
    position: relative;
}
.activitati2 .screen-content .subtitle {
    text-transform: uppercase;
    color: #A1A1A1;
    margin-bottom: 5px;
}
.activitati1 .screen-content .activity {
    width: 100%;
    background: #ffffff;
    border-radius: 30px;
    padding: 13px 22px;
    margin-bottom: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
}
.activitati1 .screen-content .activity .activity-image {
    float: left;
    margin-right: 15px;
    width: 34px;
    text-align: center;
}
.activitati1 .screen-content .activity .activity-image img {
    display: inline-block;
}
.activitati1 .screen-content .activity .activity-details {
    width: calc(100% - 49px);
    float: left;
}
.activitati1 .screen-content .activity .activity-details .task {
    font-family: 'Montserrat-Bold';
    font-size: 17px;
}

.stiati-ca .screen-content .intro {
    padding-top: 30px;
    padding-bottom: 25px;
}
.stiati-ca .screen-content .intro .sursa {
    margin-top: 10px;
}
.stiati-ca .screen-content .intro .sursa a {
    color: #777777;
    text-transform: uppercase;
}
.stiati-ca .screen-content .image {
    padding-right: 10px;
    vertical-align: top;
}
.stiati-ca .screen-content .details {
    vertical-align: top;
    border-right: 1px solid #D8D8D8;
    padding-right: 10px;
}
.stiati-ca .screen-content .details .title {
    font-family: 'Montserrat-Bold';
    font-size: 17px;
    margin-bottom: 10px;
    white-space: nowrap;
}
.stiati-ca .screen-content .separator {
    width: 50px;
}
.stiati-ca .screen-content .info {
    white-space: nowrap;
    vertical-align: top;
}
.stiati-ca .screen-content .images img {
    display: inline-block;
}
.stiati-ca .screen-content .images table {
    width: 100%;
}
.stiati-ca .screen-content .images table tr td {
    width: 33%;
}
.stiati-ca .screen-content .images table tr td.image-left {
    text-align: left;
}
.stiati-ca .screen-content .images table tr td.image-right {
    text-align: right;
}
.stiati-ca .screen-content .images table tr td.egal {
    text-align: center;
}

.stiati-ca .screen-content .space {
    height: 25px;
}



/* Panou control / dashboard */
.control-panel .screen-content .title {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.control-panel .screen-content .title img {
    margin-right: 8px;
}
.control-panel .screen-content .lectii, .control-panel .screen-content .activitati {
    width: 100%;
    overflow-x: auto;
}
.control-panel .screen-content .lista-lectii .lectie, .control-panel .screen-content .lista-activitati .activity {
    float: left;
	color: #ffffff;
    margin-right: 35px;
    border-radius: 25px;
    height: 138px;
    width: 116px;
    border: 7px solid #ffffff;
    text-align: center;
    position: relative;
    box-shadow: 0px 3px 6px rgba(170, 170, 170, 0.3);
}
.control-panel .screen-content .lista-lectii .lectie.verde, .control-panel .screen-content .lista-activitati .activity.verde {
    background: #006227;
}
.control-panel .screen-content .lista-lectii .lectie.mov, .control-panel .screen-content .lista-activitati .activity.mov {
    background: #b5037b;
}
.control-panel .screen-content .lista-lectii .lectie.albastru, .control-panel .screen-content .lista-activitati .activity.albastru {
    background: #14B3C1;
}
.control-panel .screen-content .lista-lectii .lectie.galben, .control-panel .screen-content .lista-activitati .activity.galben {
    background: #EDB724;
}
.control-panel .screen-content .lista-lectii .lectie.rosu, .control-panel .screen-content .lista-activitati .activity.rosu {
    background: #ED5224;
}
.control-panel .screen-content .lista-lectii .lectie img, .control-panel .screen-content .lista-activitati .activity img {
    display: inline-block;
    margin-top: 24px;
}
.control-panel .screen-content .lista-lectii .lectie.last, .control-panel .screen-content .lista-activitati .activity.last {
    margin-right: 0;
}

.control-panel .screen-content .lista-lectii .lectie .lectie-nume, .control-panel .screen-content .lista-activitati .activity .activity-nume {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
    left: 0;
    font-family: 'Montserrat-Bold';
    font-size: 12px;
}
.control-panel .screen-content .lista-lectii .lectie.albastru .lectie-nume, .control-panel .screen-content .lista-activitati .activity.albastru .activity-nume {
    color: #AEF7FE;
}
.control-panel .screen-content .lista-lectii .lectie.galben .lectie-nume, .control-panel .screen-content .lista-activitati .activity.galben .activity-nume {
    color: #F2ECDC;
}
.control-panel .screen-content .lista-lectii .lectie.rosu .lectie-nume, .control-panel .screen-content .lista-activitati .activity.rosu .activity-nume {
    color: #F1CABE;
}

.control-panel .screen-content .button {
    border: 2px solid #B45FD3;
    color: #B45FD3;
    border-radius: 30px;
    height: 58px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat-Medium';
    margin-bottom: 30px;
    margin-top: 15px;
    line-height: 14px;
    padding: 20px 0;
}

/* Ridicare DEEE */
.ridicare-deee .screen-content .title {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.ridicare-deee .screen-content .title img {
    margin-right: 8px;
}

.ridicare-deee .cantitati{
	display: none;
}

/* Formular activitati */
.activity-screen .screen-content .title {
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.activity-screen .screen-content .title img {
    margin-right: 8px;
}
.activity-screen .extra {
	display: none;
}


.footer {
    height: 55px;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 25px 25px 0 0;
    box-shadow: 0px 0px 10px 10px #eaeaea;
    font-family: Montserrat-Regular;
    font-size: 8px;
}
.login .footer, .new-password .footer {
    display: none;
}
.footer .center {
    width: 100px;
    height: 50px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background: url('../images/footer-center.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    padding-top: 8px;
}
.footer .left {
    float: left;
    margin-left: 35px;
    text-align: center;   
    margin-top: 10px; 
}
.footer .right {
    float: right;
    margin-right: 35px;
    text-align: center;
    margin-top: 10px;
}

.logout{
    width: 100%;
    height: 58px;
    background: #B45FD3;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat-Medium';
    line-height: 58px;
    border-radius: 29px;
    box-shadow: 0px 3px 6px rgba(4, 128, 65, 0.27);
    text-transform: uppercase;
    margin-top: 250px;
	margin-bottom: 30px;
}

.none{
	display: none;
}


body.level1 {
    background: url('../images/level1/background-level1.png') no-repeat bottom center;
    background-size: cover;
}
body.level2 {
    background: url('../images/level2/background-level2.png') no-repeat bottom center;
    background-size: cover;
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    display: none;
}
.popup.intro {
    display: block;
}
.popup .popup-overlay {
    background: rgba(14, 14, 14, 0.34);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.popup .popup-content {
    position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
    top: 50%;
    width: 60%;
    z-index: 2;
}
.popup .popup-content .popup-background {
    width: 100%;
}
.popup .popup-content .popup-background img {
    max-width: 100%;
}

.popup .popup-content .left-arrow {
    position: absolute;
    width: 14%;
    left: -18%;
    transform: translate(0, -50%);
    top: 50%;
    display: none;
}
.popup .popup-content .right-arrow {
    position: absolute;
    width: 14%;
    right: -8%;
    transform: translate(0, -50%);
    top: 50%;
}
.popup .popup-content .left-arrow img, .popup .popup-content .right-arrow img {
    width: 100%;
}

.popup .popup-content .popup-text {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
	left: 46%;
    top: 46%;
    width: 100%;
    display: none;
}
.popup .popup-content .popup-text.popup-text-1 {
    display: block;
}
.popup .popup-content .popup-text span {
    font-family: 'Montserrat-Regular';
    font-size: 0.9em;
}
.popup .popup-content .ok {
    width: 35%;
    height: 29%;
    position: absolute;
    transform: translate(-50%, 0);
    left: 45%;
    bottom: 2%;
}
.popup .popup-content .close {
    width: 19%;
    height: 25%;
    position: absolute;
    right: 4%;
    top: 0%;
}
.popup .popup-content .home {
    width: 35%;
    height: 29%;
    position: absolute;
    left: 12%;
    bottom: 2%;
}
.popup .popup-content .home2 {
    width: 35%;
    height: 29%;
    position: absolute;
    transform: translate(-50%, 0);
    left: 45%;
    bottom: 2%;
}
.popup .popup-content .login {
    width: 35%;
    height: 29%;
    position: absolute;
    right: 12%;
    bottom: 2%;
}



.screen.level1-screen {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.level1 .screen.level1-screen, .level2 .screen.level2-screen {
	display: block;
}



.level1 .reload {
    width: 7.13%;
    position: absolute;
    left: 2.6%;
    top: 3.8%;
}
.level1 .reload img {
    width: 100%;
}
.level1 .level {
    width: 12%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 5.42%;
}
.level1 .level img {
    width: 100%;
}


/* Items */
.level1 .color {
    z-index: 2;
}
.level1 .banana {
    width: 6.71%;
    position: absolute;
    margin: auto;
    left: 32%;
    top: 40%;
}
.level1 .banana img {
    width: 100%;
}
.level1 .lemon {
    width: 5.76%;
    position: absolute;
    margin: auto;
    left: 15%;
    top: 44%;
}
.level1 .lemon img {
    width: 100%;
}

.level1 .pear {
    width: 5.76%;
    position: absolute;
    margin: auto;
    left: 75%;
    top: 24%;
}
.level1 .pear img {
    width: 100%;
}
.level1 .orange {
    width: 3.95%;
    position: absolute;
    margin: auto;
    left: 45%;
    top: 46%;
}
.level1 .orange img {
    width: 100%;
}
.level1 .carrot {
    width: 6.82%;
    position: absolute;
    margin: auto;
    left: 3%;
    top: 35%;
}
.level1 .carrot img {
    width: 100%;
}
.level1 .apple {
    width: 4.37%;
    position: absolute;
    margin: auto;
    left: 18%;
    top: 31%;
}
.level1 .apple img {
    width: 100%;
}
.level1 .tomato {
    width: 6.3%;
    position: absolute;
    margin: auto;
    left: 68%;
    top: 55%;
}
.level1 .tomato img {
    width: 100%;
}
.level1 .corn {
    width: 6.04%;
    position: absolute;
    margin: auto;
    left: 1%;
    top: 60%;
}
.level1 .corn img {
    width: 100%;
}
.level1 .strawberry {
    width: 6.3%;
    position: absolute;
    margin: auto;
    left: 25%;
    top: 44%;
}
.level1 .strawberry img {
    width: 100%;
}
.level1 .broccoli {
    width: 4.37%;
    position: absolute;
    margin: auto;
    left: 13%;
    top: 58%;
}
.level1 .broccoli img {
    width: 100%;
}
.level1 .waterdrop {
    width: 9.94%;
    position: absolute;
    margin: auto;
    left: 80%;
    top: 39%;
}
.level1 .waterdrop img {
    width: 100%;
}
.level1 .pepper {
    width: 6.04%;
    position: absolute;
    margin: auto;
    left: 40%;
    top: 56%;
}
.level1 .pepper img {
    width: 100%;
}
.level1 .cucumber {
    width: 6.56%;
    position: absolute;
    margin: auto;
    left: 51%;
    top: 35%;
}
.level1 .cucumber img {
    width: 100%;
}
.level1 .onion {
    width: 8.54%;
    position: absolute;
    margin: auto;
    left: 57%;
    top: 40%;
}
.level1 .onion img {
    width: 100%;
}
.level1 .pease {
    width: 4.166%;
    position: absolute;
    margin: auto;
    left: 30%;
    top: 32%;
}
.level1 .pease img {
    width: 100%;
}
.level1 .plum {
    width: 4.11%;
    position: absolute;
    margin: auto;
    left: 64%;
    top: 25%;
}
.level1 .plum img {
    width: 100%;
}
.level1 .ice-cream {
    width: 9.48%;
    position: absolute;
    margin: auto;
    left: 54%;
    top: 63%;
}
.level1 .ice-cream img {
    width: 100%;
}
.level1 .donut {
    width: 9.11%;
    position: absolute;
    margin: auto;
    left: 10%;
    top: 70%;
}
.level1 .donut img {
    width: 100%;
}
.level1 .grapes {
    width: 8.43%;
    position: absolute;
    margin: auto;
    left: 75%;
    top: 53%;
}
.level1 .grapes img {
    width: 100%;
}

.level1 .eggplant {
    width: 8.43%;
    position: absolute;
    margin: auto;
    left: 38%;
    top: 23%;
}
.level1 .eggplant img {
    width: 100%;
}
/* END Colors */


.level1 .containers {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 1%;
    display: table-row;
}
.level1 .containers .container {
    width: 12%;
    padding: 0 1%;
    text-align: center;
    display: table-cell;
}
.level1 .containers .container img {
    width: 100%;
    display: block;
}






.level2 .reload {
    width: 7.13%;
    position: absolute;
    left: 2.6%;
    top: 3.8%;
    z-index: 2;
}
.level2 .reload img {
    width: 100%;
}
.level2 .level {
    width: 12%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 5.42%;
    z-index: 2;
}
.level2 .level img {
    width: 100%;
}

.level2 .poluare {
    background-color: rgba(175, 188, 151, 0.64);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
.level2 .poluare.fara-nor {
    background-color: rgba(175, 188, 151, 0.40);
}

.level2 .button {
    position: absolute;
    width: 6vw !important;
    display: none;
}
  #story-container {
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .options-container {
    display: flex;
    justify-content: space-between;
  }
  .option {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .option-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  .option-text {
    flex-grow: 1;
  }
  .selected {
    border-color: blue;
  }
  #next-button {
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 20px;
  }
  #summary-container {
    margin-top: 20px;
  }


/* LOADER */
.loading {
	text-align: center;
	height: 60px;
	width: 100%;
	display: none;
}
.loading.mainLoading {
    margin: 30px 0;
}
@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.lds-css {
    height: 60px;
    position: relative;
}
.lds-rolling {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0;
	right: 0;
	margin: auto;
}
.lds-rolling div,
.lds-rolling div:after {
	position: absolute;
	width: 60px;
	height: 60px;
	border: 5px solid #B45FD3;
	border-top-color: transparent;
	border-radius: 50%;
	margin-top: 30px;
	margin-left: 30px;
}
.lds-rolling div {
	-webkit-animation: lds-rolling 1s linear infinite;
	animation: lds-rolling 1s linear infinite;
}
.lds-rolling div:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}